body{
  background-color: #f7f0f7 !important;
}
#barraprincipal{
  background-color: 	#ce9cc5;
}
.titulos{
  font-size:25px; 
  margin-left:15px;
  color: #6c4767;
}
.subtitulos{
  font-size:20px; 
  margin-left:25px;
  color: #a26f9c;
}
#footer{
  text-align: center;
  background-color: 	#ce9cc5;
  width: 100%;
  height: 50px;
}
