body{
  background-color: #f7f0f7 !important;
}
#barraprincipal{
  background-color: 	#ce9cc5;
}
.robot{
  font-family: 'Roboto', sans-serif !important;
}
.titulos{
  font-size:25px; 
  margin-left:15px;
  color: #6c4767;
}
.subtitulos{
  font-size:20px; 
  margin-left:25px;
  color: #a26f9c;
}

.subsubtitulos{
  font-size:20px; 
  margin-left:30px;
  color: #6d4568;
}

.descripcion{
    margin-left:15px;
  font-size:20px; 
  color: #a26f9c;
}

#footer{
  text-align: center;
  background-color: 	#ce9cc5;
  width: 100%;
  height: 50px;
}
#social{
  background-color: 	#ce9cc5;
  height: 50px;
  margin-bottom: -48px;
  margin-left: -15px;
  margin-right: -15px;

  
  
}

#about{
  margin: auto;
  margin-top: 20px;
  border-style: solid;
  border-color:#6c4767;
  border-width: thin;
  background-color: #f8e2f8;
  width: 50%;

}

td
{
    padding:0 15px;
}

#letras{
  
  display: block;
}
.botones {
margin: 6px;
display: inline-block;

}

.wrapper {
    display: table;
    margin: auto;
}
#proyectos{
  margin: 10px;
}
#activo{
  background-color: #e1e4f9;
}


