body{
  background-color: #E7F2F8 !important;
}
#barraprincipal{
  background-color: #FFA384;
}
.titulos{
  font-size:25px; 
  margin-left:15px;
  color: #74BDCB;
}
.subtitulos{
  font-size:20px; 
  margin-left:25px;
  color: blue;
}
#footer{
  text-align: center;
  background-color: #FFA384;
  width: 100%;
  height: 40px;
}
